<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Student</title>
    <link rel="stylesheet" th:href="@{/css/student.css}">
</head>
<body>
    <h1>Edit Student</h1>

    <form action="#" th:action="@{/students/{id}(id=${student.id})}" th:object="${student}" method="post">
        <input type="hidden" name="_method" value="put">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:value="*{name}"><br>
    
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:value="*{email}"><br>
    
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" th:value="*{age}"><br>
    
        <input type="submit" value="Update">
    </form>

    <a href="/students" class="btn">Back to List</a>
</body>
</html>
