<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Students</title>
    <link rel="stylesheet" th:href="@{/css/student.css}">
</head>
<body>
    <h1>All Students</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}">ID Placeholder</td>
            <td th:text="${student.name}">Name Placeholder</td>
            <td th:text="${student.email}">Email Placeholder</td>
            <td th:text="${student.age}">Age Placeholder</td>
            <td>
                <a th:href="@{/students/{id}(id=${student.id})}">View</a>
                <a th:href="@{/students/edit/{id}(id=${student.id})}">Edit</a>
                <a th:href="@{/students/delete/{id}(id=${student.id})}" onclick="return confirm('Are you sure?');">Delete</a>
            </td>
        </tr>
    </table>
    

    <a href="/students/add" class="btn">Add Student</a>
</body>
</html>
