<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Student</title>
    <link rel="stylesheet" th:href="@{/css/student.css}">
</head>
<body>
    <h1>Student Details</h1>

    <div>
        <h2>Student Details</h2>
        <p>Name: <span th:text="${student.name}">Name Placeholder</span></p>
        <p>Email: <span th:text="${student.email}">Email Placeholder</span></p>
        <p>Age: <span th:text="${student.age}">Age Placeholder</span></p>
    </div>
    

    <a href="/students" class="btn">Back to List</a>
</body>
</html>
